{{!-- {{#each productList}}
 --}}  <div class="productList">
    <h1>Product Name: {{name}}</h1>
    <h1>${{price}}</h1>
    <h1>Quantity of Stock: {{inventory}}</h1>
    <h1>Product ID: {{id}}</h1>
  </div>
{{!-- {{/each}} --}}